div.scroll {
    width: 40%;
    height: 200px;
    border: 1px solid black;
    overflow: scroll;
    overflow-x: hidden;
  }
  /* You can add global styles to this file, and also import other style files */

  button {
    cursor: pointer;
    display: inline;
    transition: opacity 1s;
  }


  .hide {
    transition: opacity 1s;
    opacity: 0;
  }

  .show {
    transition: opacity 1s;
    opacity: 1;
  }
